.game{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

canvas {
    border: 3px solid black;
    margin-right: 20px;
}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.player{
    margin-top:20px;
    margin-bottom:20px;
    width:100px;
    height:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectedRed{
    border: 3px solid red;
}
.selectedBlue{
    border: 3px solid blue;
}

.hor {
    border: 2px solid black;
    width:90px;
    height:40px;
    background-color:red;
}

.ver {
    border: 2px solid black;
    width:40px;
    height:80px;
    background-color:blue;
}