body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*background-color: black;*/
 }
 
 canvas{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 20px;
 }
 