h1 {font-size: 36px; font-weight: bold; font-family: 'Lemonada', cursive;}
#zone_dessin{ position: relative; width: 500px; height:500px; border: 2px solid black}
canvas {position: absolute}
#zone_cadre {z-index: 1}
#zone_animation{z-index: 2}

html {
    box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    color: black; 
    font-size: 24px;
    font-weight: bold; 
    font-family: Arial
  }
  
input[type="button"]{
    background-color: lightgrey;
    width: 40xpx;
    height: 40px;
    font-size: 14px; 
    font-weight: bold;
}
input[type="button"]:focus{
    background-color: grey
  }
select {
  border: 5px solid lightgrey;
  width: 40xpx;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
}